*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.banner{
        height: 100vh;
        background-image: url("/images/banner/banner1.png");
        background-size: cover;
}

.banner-content{
        padding-right: 10%;
        text-align: end;
        padding-top: 10%;
}

.headline{
        font-size: 36px;
        font-weight: bold;
}

.summary{
        margin-top: 10px;
        line-height:25px;
}

.btn-section{
        margin-top: 10px;
}
.brand-btn{
        background-color: orangered;
        border-radius: 5px;
        border: 2px solid orangered;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
        color: white
}